{% extends 'quotes/base.html' %}

{% block content %}
    <h2>About Jaylen Brown</h2>
    <p>Jaylen Brown is one of the best basketball player in the world. He recently played for Celtics but was traded this Summer to the Sixers. Brown was a Final MVP and Champion.</p>
    
    <hr>
    
    <h3>About the Creator</h3>
    <p>My name is Anthony Truong and I'm a junior studying Computer Science at Boston University. I have a passion for cybersecurity and making the digital world safer.</p>
{% endblock %}