<!--
Description: Base HTML template containing the main layout and displays all profiles
Author: Anthony Truong
Date: Fall 2026
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Insta</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Mini Insta</h1>
        <nav>
            <!-- Uses variables to show all profiles passed through context-->
            <a href="{% url 'show_all_profiles' %}">All Profiles</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Shows all profiles in footer-->
        <a href="{% url 'show_all_profiles' %}">All Profiles</a>
        {% if profile %}
            <a href="{% url 'create_post' profile.pk %}">Create Post</a>
        {% endif %}
        <p>Mini Insta; CS412</p>
   </footer>
</body>
</html>